
@{
    ViewBag.Title = "Create";
}

<h2>Add Category</h2>

<form method="post">
    <input type="text" name="ImageURL" id ="ImageURL"hidden/>
    <label> Name </label>
    <input type="text" id="Name" name="Name" />
    <br />
    <label> Description </label>
    <input type="text" name="Description" id="Description"/>
    <br />
    <label> Image </label>
    <input type="file" name="Image" id="Image" accept=".jpg,.png" />
    <button type="button" id="save">Save</button>
</form>
<div class="thumb">
    <img style="height:150px;width:150px" id="ImageUploaded" />
</div>
<script>
    $("#save").click(function () {
        $.ajax
            ({
                type: 'POST',
                url: '/Product/Create',
                data:
                {
                    Name: $("#Name").val(),
                    Description: $("#Description").val(),
                    ImageURL: $("#ImageURL").val(),
                }
            })
            .done(function (response) {
                $("#createContainer").html("");
                $("#Container").html(response);
            })
            .fail(function () {
                alert("Fail")
            });
    });
    $("#Image").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax
            ({
                type : 'POST',
                url: '/Shared/UploadImage',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
            .done(function (response) {
                console.log(response);
                if (response.Success)
                    $("#ImageUploaded").attr("src", response.ImageURL);
                    $("#ImageURL").val(response.ImageURL);
            })
            .fail(function () {
                alert("Fail")
            });

    });
</script>