@{
    ViewBag.Title = "index";
}
<div class="container">

    <div id="Container">
        @{
            Html.RenderAction("CategoryTable");
        }
    </div>
    <hr />
    <div id="createContainer">


    </div>
