@model ClothesEntities.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<h2>Delete</h2>
<form method="post">
    <label> Are You Sure </label>
    <button type="button" id="delete">Delete</button>
</form>
<a href="index ">Cancel </a>
<script>
    $("#delete").click(function () {
        $.ajax
            ({
                type: 'POST',
                url: '/Product/DeleteProd',
                data:
                {
                    ID : @Model.ID,
                  }
            })
            .done(function (response) {
                $("#createContainer").html("");
                $("#Container").html(response);
            })
            .fail(function () {
                alert("Fail")
            });
    });
</script>