@model List<ClothesEntities.Product>
@{
    ViewBag.Title = "index";
}
<div class="container">

<div id="Container">
    @{
        Html.RenderAction("ProducTable");
    }
</div>
    <hr />
<div id="createContainer">


</div>
</div>